.admin-auth-container {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
    max-width: 350px;
    background-color:   #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.signup-form input, .login-form input {
    width: 92%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.signup-btn, .login-btn {
    width: 50%; /* Reduced width by 50% */
    padding: 12px;
    background: linear-gradient(102deg, #01674f 11.81%, #02cd9d 119.4%);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px auto -10px auto;
    display: block; 
    transition: background-color 0.3s ease;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #45a049;
}

.auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.auth-links button, .auth-links .signup-link {
    background-color: transparent;
    border: none;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.signup-link {
    font-weight: bold;
    margin-top: 10px;
}
